[Desktop Entry]
Name=wmitime
Comment=Standard and Internet Time clock
Comment[pl]=Zegar odmierzający standardowy oraz internetowy czas
Exec=wmitime
Terminal=0
Type=Application
# vi: encoding=utf-8
