[Desktop Entry]
Name=wmItime
Comment=Standard and Internet Time clock
Comment[pl]=Zegar odmierzający czas standardowy oraz internetowy
Exec=wmitime
Terminal=0
Type=Application
# vi: encoding=utf-8
